<button class= "btn btn-success"(click)= "onStartGame()"> Start Game </button>
<button class= "btn btn-danger" (click)= "onPauseGame()"> Pause Game </button>

<!-- {{number}} -->


<!-- <div>Even Number <span *ngIf="number%2===0">{{number}}</span></div>
<div>Odd Number <span *ngIf="number%2!==0">{{number}}</span></div> -->

<!-- 
<div>Even Number <span *ngIf="numberCheck">{{number}}</span></div>
<div>Odd Number <span *ngIf="numberCheck">{{number}}</span></div>
<button (click)="checkNums()">Check number</button>  -->
